body{
    position: absolute;
    top:4rem;
    left:28.125rem;
}
.outer{
    height:20rem;
    width:25rem;
    color:white;
    background-color: black;
   
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.head{
    display: flex;
    justify-content: center;
    font-size: large;
}
.head a{
    position: absolute;
    right:20px;
    color: rgb(160, 158, 158);
}
.info{
    display: grid;
    justify-content: center;
    align-items: center;
}
input{
    background-color: rgb(160, 158, 158);
    width:15.625rem;
    height:25px;
}
button{
    background-color: aquamarine;
    height:30px;
}
a{
    text-decoration: none;
    margin: 5px;
}